#root {
  height: 100%;
}

.p-public {
  background-color: #091733;
}

.cursor {
  cursor: pointer;
}

.center {
  text-align: center !important;
}

.hidden {
  display: none!important;
}

.flatpickr-weekdaycontainer {
  background: transparent;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 28px;
}

.my-modal_window {
  opacity: 1;
  background-color: #FFF;
  display: block;
  width: 600px;
  height: 372px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 998;
  padding: 20px;
}

.my-modal_window_contents {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;
}

.my-modal_window_head {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 10px;
}

.my-modal_window_head strong {
  display: block;
  font-size: 18px;
  line-height: 1.5em;
  color: #333333;
  margin-bottom: 10px;
  padding-right: 30px;
}

.my-modal_window_body p {
  font-size: 15px;
  line-height: 1.5em;
  color: #333333;
}

label.my-modal_close {
  display: block;
  background-color: #FFF;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  border-radius: 10px;
  position: fixed;
  z-index: 999;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin-left: 280px;
  margin-top: -206px;
  overflow: hidden;
}

label.my-modal_close::before {
  content: '×';
  color: #0c498e;
}

label.my-modal_close::after {
  content: '閉じる';
  display: none;
}

.my-modal_overlay {
  background: rgba(9, 23, 51, 0.9);
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  z-index: 997;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}

.my-modal_overlay:hover {
  opacity: .8;
}

.load-more {
  text-align: center;
  font-size: 13px;
}

.close_shomen {
  background-color: #091733;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  width: 260px;
  height: 40px;
  border-radius: 4px;
  margin-top: 32px;
}

.close_shomen:disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: #808080 !important;
}

.p-modal input.p-modal_isopen:checked ~ .p-modal_window .p-modal_window_contents {
  overflow-y: inherit;
}

.delivery-caption {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 30px 0;
  color: #404040;
}

.delivery-description {
  font-size: 13px;
  font-weight: 400;
  color: #404040;
  margin-bottom: 40px;
}

.nisa-description {
  font-size: 13px;
  font-weight: 400;
  color: #404040;
  margin-bottom: 20px;
}

.p-input_updown .p-unit {
  line-height: 32px;
}

.icon-payment-cancel {
  margin-left: -3px;
}

.c-table_list .__react_component_tooltip.type-info {
  text-align: left;
  padding: 8px 15px;
}
.c-table_list .__react_component_tooltip.type-info span {
  margin-right: 20px;
  line-height: 20px;
}
/* .c-table_list .__react_component_tooltip.type-info::before {
  display: none;
}
.c-table_list .__react_component_tooltip.type-info::after {
  display: none;
} */

@media screen and (max-width: 375px) {
  label.my-modal_close {
    background-color: #091733;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    width: 260px;
    height: 40px;
    border-radius: 4px;
    position: fixed;
    z-index: 999;
    margin-left: -130px;
    margin-top: 150px;
  }

  label.my-modal_close::before {
    color: #FFF;
  }

  label.my-modal_close::after {
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
  }

  .my-modal_window {
    width: 280px;
    height: 420px;
    padding: 20px 10px 60px 10px;
  }

  .my-modal_window .my-modal_window_contents .my-modal_window_head strong {
    font-size: 15px;
    padding-right: 0;
  }

  .close_shomen {
    margin-top: 52px;
  }

  table.c-table_list tbody tr td.center {
    text-align: center !important;
  }
}

.c-table-responsive.trade-history table.c-table {
  table-layout: fixed;
}

.c-table-responsive.trade-history table.c-table thead tr th:nth-child(1) {
  width: 120px;
}
.c-table-responsive.trade-history table.c-table thead tr th:nth-child(2) {
  width: 108px;
}
.c-table-responsive.trade-history table.c-table thead tr th:nth-child(3) {
  width: 120px;
}
.c-table-responsive.trade-history table.c-table thead tr th:nth-child(4) {
  width: 58px;
}
.c-table-responsive.trade-history table.c-table thead tr th:nth-child(5) {
  width: 73px;
}
.c-table-responsive.trade-history table.c-table thead tr th:nth-child(6) {
  width: 102px;
}
.c-table-responsive.trade-history table.c-table thead tr th:nth-child(7) {
  width: 61px;
}
.c-table-responsive.trade-history table.c-table thead tr th:nth-child(8) {
  width: 75px;
}
.c-table-responsive.trade-history table.c-table thead tr th:nth-child(9) {
  width: 75px;
}
.c-table-responsive.trade-history table.c-table thead tr th:nth-child(10) {
  width: 85px;
}
.c-table-responsive.trade-history table.c-table thead tr th:nth-child(11) {
  width: 85px;
}
.c-table-responsive.trade-history table.c-table thead tr th:nth-child(12) {
  width: 120px;
}
.c-table-responsive.trade-history table.c-table thead tr th:nth-child(13) {
  width: 120px;
}
.c-table-responsive.trade-history table.c-table thead tr th:nth-child(14) {
  width: 85px;
}

.c-table-responsive.lending-trade-history table.c-table {
  table-layout: fixed;
}

.c-table-responsive.lending-trade-history table.c-table thead tr th:nth-child(1) {
  width: 100px;
}
.c-table-responsive.lending-trade-history table.c-table thead tr th:nth-child(2) {
  width: 100px;
}
.c-table-responsive.lending-trade-history table.c-table thead tr th:nth-child(3) {
  width: 100px;
}
.c-table-responsive.lending-trade-history table.c-table thead tr th:nth-child(4) {
  width: 90px;
}
.c-table-responsive.lending-trade-history table.c-table thead tr th:nth-child(5) {
  width: 73px;
}
.c-table-responsive.lending-trade-history table.c-table thead tr th:nth-child(6) {
  width: 102px;
}

/* Mobile */
.c-table-responsive.pdf-table_mb table.c-table {
  table-layout: fixed;
}
.c-table-responsive.pdf-table_mb table.c-table tbody tr td:nth-child(1) {
  font-weight: 700;
  width: 130px;
}
.c-table-responsive.pdf-table_mb table.c-table tbody tr td:nth-child(2) {
  /* width: calc(100% - 200px); */
  width: 400px;
}
@media screen and (max-width: 376px) {
  .c-table-responsive.pdf-table_mb table.c-table tbody tr td:nth-child(1) {
    font-weight: 700;
    width: 130px;
  }
  .c-table-responsive.pdf-table_mb table.c-table tbody tr td:nth-child(2) {
    width: 500px;
    white-space: normal;
  }
}
/* Desktop */
.c-table.pdf-table_dt table.c-table {
  table-layout: fixed;
}
.c-table.pdf-table_dt table.c-table tbody tr td:nth-child(1) {
  font-weight: 700;
  width: 120px;
}
.c-table.pdf-table_dt table.c-table tbody tr td:nth-child(2) {
  /* width: calc(100% - 200px); */
  width: 400px;
}


@media screen and (max-width: 640px) {
  .l-contents .l-contents_body {
    max-width: 100%;
    overflow: hidden;
  }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 6px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #CCD0D5;
  border-right: 1.1em solid #CCD0D5;
  border-bottom: 1.1em solid #CCD0D5;
  border-left: 1.1em solid #081324;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bg-transparent {
  background-color: transparent !important;
}

.p-modal input.p-modal_isopen:checked ~ .p-modal_window.antisocial {
  width: 360px;
}

.p-modal input.p-modal_isopen:checked ~ .p-modal_window.antisocial .p-modal_window_msg_logout{
  height: 160px;
}

.p-modal_window_msg_close_account {
  text-align: center;
}

.p-modal input.p-modal_isopen:checked ~ .p-modal_window.close-account {
  width: 50%;

}
@media screen and (max-width: 375px) {
  .p-modal input.p-modal_isopen:checked ~ .p-modal_window.antisocial {
    width: 280px;
    height: auto;
    padding: 10px;
  }

  .p-modal input.p-modal_isopen:checked ~ .p-modal_window.antisocial .p-modal_window_msg_logout{
    height: 160px;
  }
}

/*Custom for Navbar*/

.p-nav_sub ul li.disabled{
  pointer-events: none;
}
.p-nav_sub ul li.disabled a{
  color: #8BB5C1;
}
.p-nav_sub ul li a {
  display: inline-block;
}

.p-nav_global .p-nav_global_head .p-logo img {
  height: 23px;
}

.p-nav_global dl dd a.help-link {
  padding: 0;
  cursor: pointer;
  pointer-events: auto;
  vertical-align: bottom;
}
.p-nav_global dl dd.has-help-link a {
  display: inline-block;
}
.p-nav_global dl dd.has-help-link a:first-child {
  color: #8BB5C1;
}
.p-nav_global dl dd.disabled {
  pointer-events: none;
}
.p-nav_global dl dd.disabled:hover {
  pointer-events: none;
  background-color: transparent;
}

.p-section_user_apps dl dt {
  height: auto;
  display: inline-block;
  border-right: 1px solid #bfbfbf;
  padding: 0 16px;
}

.p-section_user_apps dl dt img {
  width: 110px;
  height: 40px;
}

.p-section_user_apps dl dt .account-type {
  height: auto;
  display: block;
  padding: 0;
  font-size: 12px;
  color: #808080;
  text-align: center;
}
.p-footer_flex{
  display: flex;
  justify-content: space-between;
}
.p-footer_flex .grey-light{
  color: lightgrey;
}
@media screen and (max-width: 375px) {
  .p-nav_sub ul li a {
    display: inline-block;
  }
  .p-nav_global .p-nav_global_head .p-logo img {
    margin-top: 2px;
    height: 20px;
  }
  .p-nav_global dl dd a.help-link {
    padding-left: 5px;
    height: 17px;
    vertical-align: sub;
  }

  .p-section_user_apps dl dt {
    display: block;
    border-right: none;
    width: 142px;
    margin: 0 auto;
  }

  .p-section_user_apps dl dt .account-type {
    width: auto;
    height: auto;
    margin: 0 0 10px 0;
  }
}
.pdf-table-content-flex-end{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.pdf-table-title{
  font-weight: 600;
  text-align: center;
  line-height: 3rem;
}

@media screen and (min-width: 376px) {
  .hide-mobile{
    visibility: hidden;
  }
}
@media not all and (min-width: 376px) {
  .hide-desktop{
    visibility: hidden;
  }
}


