#root {
  height: 100%;
}

.p-public {
  background-color: #091733;
}

.cursor {
  cursor: pointer;
}

.center {
  text-align: center !important;
}

.hidden {
  display: none!important;
}

.flatpickr-weekdaycontainer {
  background: transparent;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 28px;
}

.my-modal_window {
  opacity: 1;
  background-color: #FFF;
  display: block;
  width: 600px;
  height: 372px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 998;
  padding: 20px;
}

.my-modal_window_contents {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;
}

.my-modal_window_head {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 10px;
}

.my-modal_window_head strong {
  display: block;
  font-size: 18px;
  line-height: 1.5em;
  color: #333333;
  margin-bottom: 10px;
  padding-right: 30px;
}

.my-modal_window_body p {
  font-size: 15px;
  line-height: 1.5em;
  color: #333333;
}

label.my-modal_close {
  display: block;
  background-color: #FFF;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  border-radius: 10px;
  position: fixed;
  z-index: 999;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin-left: 280px;
  margin-top: -206px;
  overflow: hidden;
}

label.my-modal_close::before {
  content: '×';
  color: #0c498e;
}

label.my-modal_close::after {
  content: '閉じる';
  display: none;
}

.my-modal_overlay {
  background: rgba(9, 23, 51, 0.9);
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  z-index: 997;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}

.my-modal_overlay:hover {
  opacity: .8;
}

.load-more {
  text-align: center;
  font-size: 13px;
}

.close_shomen {
  background-color: #091733;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  width: 260px;
  height: 40px;
  border-radius: 4px;
  margin-top: 32px;
}

.p-modal input.p-modal_isopen:checked ~ .p-modal_window .p-modal_window_contents {
  overflow-y: inherit;
}

@media screen and (max-width: 375px) {
  label.my-modal_close {
    background-color: #091733;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
    width: 260px;
    height: 40px;
    border-radius: 4px;
    position: fixed;
    z-index: 999;
    margin-left: -130px;
    margin-top: 150px;
  }

  label.my-modal_close::before {
    color: #FFF; 
  }

  label.my-modal_close::after {
    display: inline-block;
    margin-left: 5px;
    font-size: 15px;
  }

  .my-modal_window {
    width: 280px;
    height: 420px;
    padding: 20px 10px 60px 10px;
  }

  .my-modal_window .my-modal_window_contents .my-modal_window_head strong {
    font-size: 15px;
    padding-right: 0;
  }

  .close_shomen {
    margin-top: 52px;
  }
}